.heading {
    max-width: 1100px;
    margin-inline: auto;
    margin-top: -24px;
}

.heading p {
    font-size: 16px;
    font-weight: 600;
    color: #5A5959;
    max-width: 1000px;
    width: 100%;
}