.price{
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.cont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cont2{
    width: 100%;
    background-color:  #FFFFFF;
}
.sub_cont2{
    display: flex;
   justify-content: flex-end;
   gap: 12px;
   padding-right: 10px;
}
.sub_cont2 p{
    background-color: #F3F3F7;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
.cont3{
    width: 100%;
}
.cont3 img{
    width: 100%;
    height: 100%;
}
.recent_transaction{
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 16px;
}
strong{
    font-weight: 900;
    font-size: 24px;
}