.btn1{
    padding: 8px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 190px;
}

.outline_btn{
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 400px;
    border: 1px solid black;
    font-weight: 600;
    margin-top: 22px;
}