.currentprice{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    margin-top: 20px;
}
.sub1{
    display: flex;
    width: 100%;
    gap: 12px;
}
.sub2{
    display: flex;
    width: 100%;
}