.btn {
    padding: 10px 16px;
    border: none;
    margin-right: 8px;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background-color: #5F00D9;
    font-weight: 500;
    font-size: 14px;
}
