.home{
display: flex;
/* border: 2px solid red; */
width: 1500px;
margin-inline: auto;
}
.nav{
    width: 256px;
    height: 700px;
    /* border: 2px solid  blue; */
    background-color: #FFFFFF;
}
.nav h3{
    text-align: center;
    color: #5F00D9;
    font-weight: 700;
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 58px;
}
.nav .dashboard{
    display: flex;
    align-items: center;
    width: 190px;
    height: 42px;
    background-color: #EEEEF4;
    margin-inline: auto;
    padding-left: 6px;
     border-radius: 10px;
     cursor: pointer;
}
.nav .dashboard p{
    margin-left: 10px;
    font-weight: 700;
}
.nav .transaction{
    display: flex;
    align-items: center;
    width: 190px;
    height: 38px;
    margin-inline: auto;
    padding-left: 6px;
    color: #797E82;
    cursor: pointer;
}
.nav .transaction p{
    margin-left: 10px;
    font-weight: 500;
}
.nav .support{
    position: absolute;
    bottom: 28px;
    display: flex;
    align-items: center;
    width: 190px;
    height: 42px;
    padding-left: 16px;
    color: #797E82;
    cursor: pointer;
}
.nav .support p{
    margin-left: 10px;
    font-weight: 500;
}
.hero_section{
    width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}
.top_content{
    height: 54px;
    /* border: 2px solid brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
}
.top_content h2{
    font-size: 26px;
}
.top_content .user{
    width: 40px;
    height: 40px;
}
.subhero1{
 width:98%;
 background-color: #F3F3F7;
 /* padding: 12px; */
}
.subhero2{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-inline: auto;
    padding: 12px;
    margin-top: 20px;
    border: 2px solid red;
}